/* Estilos para dispositivos móviles y tablets */
@media only screen and (max-width: 768px) {
    /* Reducir el tamaño del título del encabezado */
    header h1 {
        font-size: 1.5rem; /* Reducir el tamaño del texto */
    }

    /* Reducir el tamaño del texto del menú de navegación */
    nav ul li a {
        font-size: 0.9rem; /* Reducir el tamaño del texto */
    }

    /* Centrar las secciones */
    .section-container {
        margin: 0 auto; /* Centrar horizontalmente */
        text-align: center; /* Centrar el contenido */
    }

    /* Reducir el padding de las listas desplegables */
    nav ul ul {
        padding: 5px; /* Reducir el padding */
    }

    /* Reducir el tamaño del texto en las secciones */
    .section-container h3 {
        font-size: 1rem; /* Reducir el tamaño del texto */
    }

    /* Reducir el tamaño de las cartas */
    .flip-card {
        width: 150px; /* Reducir el ancho */
        height: 200px; /* Reducir el alto */
        margin-bottom: 10px; /* Ajustar el margen inferior */
    }

    /* Reducir el tamaño del texto del pie de página */
    footer {
        font-size: 0.9rem; /* Reducir el tamaño del texto */
    }

    /* Reducir el tamaño del texto en los elementos del pie de página */
    .footer-column h3 {
        font-size: 1rem; /* Reducir el tamaño del texto */
        margin-bottom: 5px; /* Reducir el margen inferior */
    }

    /* Colocar las listas desplegables una encima de la otra */
    nav ul ul {
        top: 100%; /* Posicionar debajo del elemento padre */
        left: 0; /* Alinear a la izquierda */
    }
}

/* Estilos generales */
body {
    background-image: url('/Images/Fondo\ de\ body.jpg'); /* Imagen de fondo del cuerpo */
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen de fondo */
    background-attachment: fixed; /* Fijar la imagen de fondo para que no se desplace con el contenido */
    background-position: center; /* Centrar la imagen de fondo */
    overflow-x: hidden; /* Ocultar el desplazamiento horizontal */
    font-family: "Kanit", sans-serif; /* Fuente predeterminada */
    margin: 0; /* Eliminar los márgenes predeterminados */
    padding: 0; /* Eliminar el relleno predeterminado */
    box-sizing: border-box; /* Incluir el borde y el relleno en el tamaño total */
}

header {
    background-color: #000; /* Color de fondo del encabezado */
    color: #ffffff; /* Color del texto del encabezado */
    padding: 15px; /* Espacio interno del encabezado */
    display: flex; /* Mostrar como un contenedor flexible */
    justify-content: space-between; /* Distribuir el espacio entre los elementos */
    align-items: center; /* Alinear verticalmente los elementos */
    height: 60px; /* Altura del encabezado */
    position: fixed; /* Fijar el encabezado en la parte superior */
    width: 100%; /* Ancho del encabezado */
    top: 0; /* Colocar en la parte superior */
    z-index: 1000; /* Capa z del encabezado */
}

nav {
    margin-right: 20px; /* Margen derecho del menú de navegación */
}

nav ul {
    list-style-type: none; /* Eliminar viñetas de la lista */
    margin: 0; /* Eliminar el margen */
    padding: 0; /* Eliminar el relleno */
    display: flex; /* Mostrar como un contenedor flexible */
    position: relative; /* Posición relativa para los submenús */
}

nav ul li {
    margin-left: 20px; /* Margen izquierdo de los elementos de la lista */
    margin-right: 20px; /* Margen derecho de los elementos de la lista */
    margin-bottom: 10px; /* Margen inferior de los elementos de la lista */
    position: relative; /* Posición relativa para los elementos */
    z-index: 1; /* Capa z de los elementos */
}

nav ul li a {
    text-decoration: none; /* Eliminar subrayado del enlace */
    color: #ffffff; /* Color del texto del enlace */
    font-size: larger; /* Tamaño del texto del enlace */
    position: relative; /* Posición relativa para los enlaces */
    padding: 5px 20px; /* Relleno del enlace */
}

nav ul li a::after {
    content: ''; /* Contenido generado */
    position: absolute; /* Posición absoluta */
    width: 0%; /* Ancho inicial */
    height: 2px; /* Altura de la línea */
    background-color: #fff; /* Color de la línea */
    bottom: -2px; /* Posición inferior */
    left: 0; /* Posición izquierda */
    transition: width 0.5s ease-in-out; /* Transición de la anchura */
}

nav ul li a:hover::after {
    width: 100%; /* Ancho al hacer hover */
}

nav ul ul {
    display: none; /* Ocultar los submenús */
    position: absolute; /* Posición absoluta */
    top: calc(100% + 10px); /* Posicionar debajo del elemento padre */
    left: 0; /* Alinear a la izquierda */
    background-color: #000; /* Color de fondo del submenú */
    padding: 5px 0; /* Relleno del submenú */
}

nav ul ul li {
    margin-left: 0; /* Eliminar el margen izquierdo */
    width: 100%; /* Ancho completo */
}

nav ul li:hover > ul {
    display: block; /* Mostrar el submenú al hacer hover */
}

h1 {
    margin-left: 20px; /* Margen izquierdo del título */
}

section {
    padding: 10px; /* Relleno de la sección */
    margin-top: 30px; /* Margen superior de la sección */
    background-size: cover; /* Ajustar la imagen de fondo al tamaño del contenedor */
    background-position: center; /* Centrar la imagen de fondo */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen de fondo */
    display: flex; /* Mostrar como contenedor flexible */
    flex-wrap: wrap; /* Permitir el ajuste del contenido */
    justify-content: space-around; /* Distribuir el espacio entre los elementos */
    text-align: center; /* Alinear el texto al centro */
}

.section-container {
    flex: 1 0 100%; /* Flexible */
    min-height: 500px; /* Altura mínima */
    padding: 80px; /* Relleno */
    box-sizing: border-box; /* Incluir el borde y el relleno en el tamaño total */
}

.section-title {
    color: #fff; /* Color del título de la sección */
}

.flip-card {
    width: 320px; /* Ancho de la carta */
    height: 504px; /* Altura de la carta */
    perspective: 2000px; /* Perspectiva para el efecto de giro */
    margin-bottom: 20px; /* Margen inferior */
    position: relative; /* Posición relativa */
    z-index: 0; /* Capa z */
}

.flip-card-inner {
    position: relative; /* Posición relativa */
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */
    border-radius: 28px; /* Borde redondeado */
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13); /* Transición */
    transform-style: preserve-3d; /* Conservar la perspectiva */
}

.flip-card-front, .flip-card-back {
    position: absolute; /* Posición absoluta */
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    border-radius: 28px; /* Borde redondeado */
    backface-visibility: hidden; /* Ocultar la parte trasera */
}

.flip-card-front {
    background-size: cover; /* Ajustar la imagen de fondo al tamaño del contenedor */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen de fondo */
    background-position: center; /* Centrar la imagen de fondo */
}

.flip-card-back {
    font-size: 1.25rem; /* Tamaño del texto */
    text-align: center; /* Alinear el texto al centro */
    display: grid; /* Mostrar como cuadrícula */
    place-items: center; /* Centrar vertical y horizontalmente */
    padding: 32px; /* Relleno */
    background-color: black; /* Color de fondo */
    color: #fff; /* Color del texto */
    transform: rotateY(180deg); /* Rotación */
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg); /* Rotación al hacer hover */
}

footer {
    display: flex; /* Mostrar como contenedor flexible */
    justify-content: flex-start; /* Alinear al inicio del eje horizontal */
    align-items: flex-start; /* Alinear al inicio del eje vertical */
    background-image: url('/Images/Logoinverso.jpg'); /* Imagen de fondo */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen de fondo */
    background-size: cover; /* Ajustar la imagen de fondo al tamaño del contenedor */
    background-position: center; /* Centrar la imagen de fondo */
    color: #000; /* Color del texto */
    font-size: 1.5rem; /* Tamaño del texto */
    text-align: left; /* Alinear el texto a la izquierda */
    padding: 30px; /* Relleno */
    bottom: 0; /* Colocar en la parte inferior */
    width: 100%; /* Ancho completo */
    height: 100rem; /* Altura */
}

footer a {
    text-decoration: none; /* Eliminar subrayado del enlace */
    color: inherit; /* Heredar el color del texto del contenedor */
}

.footer-column {
    transition: transform 0.3s ease; /* Transición */
    padding: 20px; /* Relleno */
    position: relative; /* Posición relativa */
}

.footer-column h3 {
    position: relative; /* Posición relativa */
    display: inline-block; /* Mostrar como bloque en línea */
    color: black; /* Color del texto */
    margin-bottom: 10px; /* Margen inferior */
    transition: transform 0.3s, font-size 0.3s; /* Transición */
}

a:hover {
    transform: translateX(10px); /* Mover hacia la derecha */
    font-size: larger; /* Tamaño del texto */
}

.footer-column h3:hover::after {
    width: 100%; /* Ancho */
}

.footer-column a {
    text-decoration: none; /* Eliminar subrayado del enlace */
    color: black; /* Color del texto */
    transition: transform 0.3s, font-size 0.3s; /* Transición */
}

#CONOCENOS {
    background-image: url(/Images/fondo\ conocenos.gif); /* Imagen de fondo */
}

#favoritos {
    background-color: #000; /* Color de fondo */
}

/* Estilos para las cartas de la sección Torso */
.pecho .flip-card-front {
    background-image: url('/Images/Torso.jpg'); /* Imagen de fondo */
}

.espalda .flip-card-front {
    background-image: url('/Images/Torso.jpg'); /* Imagen de fondo */
}

.abdominales .flip-card-front {
    background-image: url('/Images/Torso.jpg'); /* Imagen de fondo */
}

/* Estilos para las cartas de la sección Brazos */
.hombros .flip-card-front {
    background-image: url('/Images/Brazos.jpg'); /* Imagen de fondo */
}

.biceps .flip-card-front {
    background-image: url('/Images/Brazos.jpg'); /* Imagen de fondo */
}

.triceps .flip-card-front {
    background-image: url('/Images/Brazos.jpg'); /* Imagen de fondo */
}

/* Estilos para las cartas de la sección Pierna */
.cuadriceps .flip-card-front {
    background-image: url('/Images/piernas.jpg'); /* Imagen de fondo */
}

.femorales .flip-card-front {
    background-image: url('/Images/piernas.jpg'); /* Imagen de fondo */
}

.gemelos .flip-card-front {
    background-image: url('/Images/piernas.jpg'); /* Imagen de fondo */
}

.gluteos .flip-card-front {
    background-image: url('/Images/piernas.jpg'); /* Imagen de fondo */
}

/* Estilos para las cartas de la sección Misión, Visión y Equipo */
.mision .flip-card-front {
    background-image: url('/Images/Logoinverso.jpg'); /* Imagen de fondo */
}

.vision .flip-card-front {
    background-image: url('/Images/Logoinverso.jpg'); /* Imagen de fondo */
}

.equipo .flip-card-front {
    background-image: url('/Images/Logoinverso.jpg'); /* Imagen de fondo */
}

h3 {
    color: #fff; /* Color del texto */
}

.star {
    position: absolute; /* Posición absoluta */
    top: 10px; /* Posición superior */
    right: 10px; /* Posición derecha */
    font-size: 24px; /* Tamaño del ícono */
    cursor: pointer; /* Cambiar el cursor */
}

.star.clicked {
    color: yellow; /* Color del ícono al hacer clic */
}

.favoritos-list {
    list-style: none; /* Eliminar viñetas de la lista */
    padding: 0; /* Eliminar el relleno */
    margin: 0; /* Eliminar el margen */
}

.favoritos-list li {
    margin-bottom: 10px; /* Margen inferior de los elementos de la lista */
}

.favoritos-list li a {
    color: #fff; /* Color del texto del enlace */
    text-decoration: none; /* Eliminar subrayado del enlace */
}

.favoritos-list li a:hover {
    text-decoration: underline; /* Subrayado del enlace al hacer hover */
}

table,
th,
td {
    background-color: #fff; /* Color de fondo */
    border: 1px solid black; /* Borde */
    padding: 8px; /* Relleno */
}
