body {
    background-image: url('/Images/Fondo\ de\ body.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
    color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

nav ul li {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: larger;
    position: relative;
    padding: 5px 20px;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    bottom: -2px;
    left: 0;
    transition: width 0.5s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul ul {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: #000;
    padding: 5px 0;
}

nav ul ul li {
    margin-left: 0;
    width: 100%;
}

nav ul li:hover > ul {
    display: block;
}

h1 {
    margin-left: 20px;
}

section {
    padding: 10px;
    margin-top: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}


.section-container {
    flex: 1 0 100%;
    min-height: 500px;
    padding: 80px;
    box-sizing: border-box;
}

.section-title {
    color: #fff;
}

.flip-card {
    width: 320px;
    height: 504px;
    perspective: 2000px;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    backface-visibility: hidden;
}

.flip-card-front {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.flip-card-back {
    font-size: 1.25rem;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 32px;
    background-color: black;
    color: #fff;
    transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
}

footer {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al inicio del eje horizontal */
    align-items: flex-start; /* Alinea los elementos al inicio del eje vertical */
    background-image: url('/Images/Logoinverso.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #000;
    font-size: 1.5rem;
    text-align: left;
    padding: 30px;
    bottom: 0;
    width: 100%;
    height: 100rem;
}
footer a {
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Hereda el color del texto del contenedor */
}


.footer-column {
    transition: transform 0.3s ease;
    padding: 20px;
    position: relative;
}

.footer-column h3 {
    position: relative;
    display: inline-block;
    color: black;
    margin-bottom: 10px; /* Reduce el espacio entre el título y el contenido */
}

.footer-column h3::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px; /* Mismo alto que la línea del nav */
    background-color: black;
    bottom: -2px; /* Ajusta la posición para que esté alineada */
    left: 0;
    transition: width 0.5s ease-in-out;
}
.footer-column h3 {
    position: relative;
    display: inline-block;
    color: black;
    margin-bottom: 10px; /* Reduce el espacio entre el título y el contenido */
    transition: transform 0.3s, font-size 0.3s; /* Agrega transición para el movimiento y el tamaño de la fuente */
}

 a:hover {
    transform: translateX(10px); /* Mueve hacia la derecha */
    font-size: larger; /* Aumenta el tamaño de la fuente */
}

.footer-column h3:hover::after {
    width: 100%;
}
.footer-column  a {
    text-decoration: none;
    color: black;
    transition: transform 0.3s, font-size 0.3s; /* Agrega transición para el movimiento y el tamaño de la fuente */
}











#CONOCENOS {
    background-image: url(/Images/fondo\ conocenos.gif);
}
#favoritos{
        background-color: #000;
}

/* Estilos para las cartas de la sección Torso */
.pecho .flip-card-front {
    background-image: url('/Images/Torso.jpg');
}

.espalda .flip-card-front {
    background-image: url('/Images/Torso.jpg');
}

.abdominales .flip-card-front {
    background-image: url('/Images/Torso.jpg');
}

/* Estilos para las cartas de la sección Brazos */
.hombros .flip-card-front {
    background-image: url('/Images/Brazos.jpg');
}

.biceps .flip-card-front {
    background-image: url('/Images/Brazos.jpg');
}

.triceps .flip-card-front {
    background-image: url('/Images/Brazos.jpg');
}

/* Estilos para las cartas de la sección Pierna */
.cuadriceps .flip-card-front {
    background-image: url('/Images/piernas.jpg');
}

.femorales .flip-card-front {
    background-image: url('/Images/piernas.jpg');
}

.gemelos .flip-card-front {
    background-image: url('/Images/piernas.jpg');
}

.gluteos .flip-card-front {
    background-image: url('/Images/piernas.jpg');
}

/* Estilos para las cartas de la sección Misión, Visión y Equipo */
.mision .flip-card-front {
    background-image: url('/Images/Logoinverso.jpg');
}

.vision .flip-card-front {
    background-image: url('/Images/Logoinverso.jpg');
}

.equipo .flip-card-front {
    background-image: url('/Images/Logoinverso.jpg');
}

h3 {
    color: #fff;
}

.star {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.star.clicked {
    color: yellow;
    /* Color de la estrella rellena */
}

.favoritos-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.favoritos-list li {
    margin-bottom: 10px;
}

.favoritos-list li a {
    color: #fff;
    text-decoration: none;
}

.favoritos-list li a:hover {
    text-decoration: underline;
}

table,th,td{
    background-color: #fff;
    border: 1px solid black; /* Define el borde de las celdas */
    padding: 8px; /* Añade espacio interno a las celdas */
}